* {
	padding: 0px;
	margin: 0px;
}
header, article, aside, footer {}
	/*border: 1px solid;*/

/*-------Menu----------*/
.menu {
	padding: 2em;
}
.menu ul {
    list-style: none;
    margin-left: 50%;
}
.menu ul li {
	position: relative;
	float: left;
	background-color:#03829b;
	z-index: 2;
}
.menu ul a {
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:400;
	font-size:15px;
	padding:10px;
	font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
}
.menu ul li {
 position:relative;
 float:left;
 margin:0;
 padding:0;
}
.menu ul li:hover {
 background:#56b6c9;
}
.menu ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 background:#eee;
 padding:0;
}
.menu ul ul li {
 float:none;
 width:150px
}
.menu ul ul a {
 line-height:120%;
 padding:10px 15px;
}
.menu ul li:hover > ul {
 display:block;
}
/*---------------------*/
header {
	background-color: #00add0;
	height: 100px;
	width: 100%;
}
section {
	
}
aside, article {
	display: inline-block;
  	vertical-align: top;
  	height: 1000px;
  	text-align: center;
  	border:  1px solid white;

  	color: white;

  	z-index: 1;
}
aside {
	background-color: #03829b;

	max-width: 20%;

	width: 20%;

}
article {
	background-color: #56b6c9;
  	position: absolute;

  	max-width: 80%;
}
footer {
	background-color: #4f848e;
	height: 60px;
}
.footer {
	display: inline-block;
	vertical-align: top;
	min-width: 32%;
	min-height: 90%;
	position: relative;
	border:  1px solid;
	margin-left: 10px;
}
.txtfooter {
	padding: 1.5em;
}
aside, article, .txtfooter {
	color: white;

  	width: 80%;
}
footer {
	background-color: #4f848e;
	height: 50px;

}